# Configuración del servidor
NODE_ENV=development
PORT=3000

# Configuración de base de datos PostgreSQL
DB_HOST=postgres-auth
DB_PORT=5432
DB_NAME=auth_db
DB_USER=admin
DB_PASSWORD=admin123

# Configuración de Redis
REDIS_HOST=redis-auth
REDIS_PORT=6379

# Configuración JWT
JWT_SECRET=mi_super_secreto_jwt_para_autenticacion_2024
JWT_EXPIRES_IN=24h 